<div class="card customer-input">
  <div>
    <div class='group-input'>
      <div class='input-title'>Name:</div>
      <input class='input-text-box' required [(ngModel)]='sessionName'/>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="startDatepicker" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="startDatepicker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="endDatepicker" placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="endDatepicker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #endDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="group-input">
      <button mat-raised-button color="primary" (click)="createSession()">Create Session</button>
    </div>
  </div>
</div>
