<div class="card customer-input">
  <div class="col-md-6 section">
    <div class='group-input'>
      <div class='input-title'>Email:</div>
      <input class='input-text-box' required type='text'/>
    </div>
    <div class="group-input">
      <div class='input-title'>Password:</div>
      <input class='input-text-box' required type='password'/>
    </div>
    <div class="group-input">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
  </div>
</div>
